.sample{
	margin-top:17px;
	height:auto;
}
.submit{
	float:left;
	width:100%;
}
.submit input{
	float:left;
	margin-top:25px;
}
.check_last label{
	margin-top:-17px;
}
.check_last input{
	margin-left:91px;
}
#rdate{
	margin-top:0px;
}
#rdate1{
	margin-top:-15px;
}
.tabl_cont{
	overflow:hidden !important;
}
A.dp-choose-date{
	margin:0px -135px 0px 102px;
}
.bgg A.dp-choose-date{
	margin-left:140px;
}
.login-wrapper .submit INPUT{float:right; !important}