.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.data {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: ;
}
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0055cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #f89406;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #bd362f;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #51a351;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #222222;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.btn-group:before,
.btn-group:after {
  display: table;
  content: "";
}
.btn-group:after {
  clear: both;
}
.btn-group:first-child {
  *margin-left: 0;
}
.btn-group + .btn-group {
  margin-left: 5px;
}
.btn-toolbar {
  margin-top: 9px;
  margin-bottom: 9px;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.btn-group > .btn {
  position: relative;
  float: left;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group > .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.btn-group > .btn.large:last-child,
.btn-group > .large.dropdown-toggle {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}
.btn-group > .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 1px 0 0 rgba(255,255,255,.125), inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group > .btn-mini.dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;
}
.btn-group > .btn-small.dropdown-toggle {
  *padding-top: 4px;
  *padding-bottom: 4px;
}
.btn-group > .btn-large.dropdown-toggle {
  padding-left: 12px;
  padding-right: 12px;
}
.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.btn-group.open .btn.dropdown-toggle {
  background-color: #e6e6e6;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #0055cc;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.btn-group.open .btn-success.dropdown-toggle {
  background-color: #51a351;
}
.btn-group.open .btn-info.dropdown-toggle {
  background-color: #2f96b4;
}
.btn-group.open .btn-inverse.dropdown-toggle {
  background-color: #222222;
}
.btn .caret {
  margin-top: 7px;
  margin-left: 0;
}
.btn:hover .caret,
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-mini .caret {
  margin-top: 5px;
}
.btn-small .caret {
  margin-top: 6px;
}
.btn-large .caret {
  margin-top: 6px;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
}
.dropup .btn-large .caret {
  border-bottom: 5px solid #000000;
  border-top: 0;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}
body {
  background: white;
}
#contentcontainer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #999999;
  background: url('../images/contentcontainer-back.png') repeat-y;
  margin-top: 40px;
}
#content_search {
  padding: 20px;
  width: 400px;
  float: left;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
}
#content_search span {
  font-weight: bold;
  margin-bottom: 3px;
  display: block;
}
#content_search .left,
#content_search .right {
  float: left;
  margin-bottom: 20px;
}
#content_search .left {
  margin-right: 40px;
}
#content_search .row2 {
  margin-bottom: 0;
}
#content_search .search {
  width: 400px;
}
#content_search .search input {
  width: 378px;
}
#content_search .or {
  background: url('../images/dots.png') repeat-x;
  width: 400px;
  margin: 0 0 10px 0;
  color: #666;
}
#content_search .or div {
  text-align: center;
  background: #f5f5f5;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  margin-left: 180px;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16pt;
}
.submit {
  display: none;
}
.rest_product {
  list-style-type: none !important;
  padding-left: 0 !important;
}
.product {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
  width: 291px;
  float: left;
  background-color: white;
  margin-bottom: 20px;
  margin-right: 20px;
}
.product.last {
  margin-right: 0;
}
.product:hover {
  background-color: #f5f5f5;
}
.product img {
  max-width: 120px;
  margin-right: 10px;
  float: left;
}
.product .product-name {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
}
.product .prodcut_details {
  color: #666;
  font-size: .8em;
  margin-bottom: 5px;
}
.product .prodcut_time_details ul {
  padding-left: 0;
  list-style-type: none;
  float: right;
  margin-top: 10px;
  width: 160px;
}
.product .prodcut_time_details ul li {
  float: left;
}
.product .time3 {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  float: left;
  /*background-color: #0196C9;*/
  background-color:#000000;
  background-image: -moz-linear-gradient(center top, #0099cd, #0391c2);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  line-height: normal;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #444444;
  vertical-align: middle;
}
.product .time3 a,
.product .time3 a:hover {
  color: white;
  text-decoration: none;
}
.product .time3:hover {
  background: #333333;
}
.header {
  width: 497px;
  padding: 12px 16px;
  float: right;
}
.header .logo {
  margin: 0px auto;
  display: block;
}
.header h1 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
  text-shadow: 0 1px #fff;
  color: #222;
}
.header div.intro {
  line-height: 1.7;
  font-size: 12pt;
  text-align: center;
}
div.btn-group-wrap {
  text-align: center;
  margin-top: 20px;
}
.btn-group a {
  font-size: .9em;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
}
#restNav {
  float: right;
  margin-top: 20px;
}
#restNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
  overflow: visible;
}
#restNav li {
  float: left;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9em;
  margin-left: 10px;
  border-left: 1px solid #999999;
  line-height: 1;
  padding-left: 10px;
}
#restNav li:first-child {
  padding-left: 0;
  border-left: 0;
}
#restNav li a,
#restNav li a:hover {
  color: #999999;
}
#restaurantTop {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 0 40px;
  width: 980px;
  -webkit-box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
}
#restaurantTop #head {
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 5px 0 10px;
  color: #eee;
}
#restaurantTop #head h1 {
  color: white;
  margin-bottom: 3px;
}
#restaurantTop #head div {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em;
  font-style: italic;
}
#reserve {
  background-image: url("../images/hatched.gif");
  -webkit-box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  box-shadow: 0 0px 10px rgba(50, 50, 50, 0.5);
  border: 1px solid #999999;
  border-top: 0;
  padding: 10px 20px 8px 20px;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: left;
  width: 938px;
  z-index: 20;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#reserve .select {
  display: inline;
}
#reserve div {
  float: left;
  margin-right: 10px;
  display: inline;
}
#reserve .type {
  margin-top: 9px;
  font-weight: bold;
}
#reserve #party-size {
  margin-right: 40px;
  float: left;
}
#reserve #time {
  *zoom: 1;
  float: left;
}
#reserve #time:before,
#reserve #time:after {
  display: table;
  content: "";
}
#reserve #time:after {
  clear: both;
}
#reserve #time .btn-small {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  float: left;
  background-color: #0196C9;
  background-image: -moz-linear-gradient(center top, #0099cd, #0391c2);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  line-height: normal;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #444444;
  vertical-align: middle;
  margin-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px 10px;
}
#reserve #time .btn-small a,
#reserve #time .btn-small a:hover {
  color: white;
  text-decoration: none;
}
#reserve #time .btn-small:hover {
  background: #333333;
}
#reserve #time .gray {
  background: #eeeeee;
  color: #555555 !important;
  text-shadow: none;
}
#reserve #time .gray:hover {
  background: #eeeeee;
}
#reserve #time .left {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#reserve #time .right {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
#content {
  float: left;
  margin-bottom: 20px;
  width: 978px;
  border: 1px solid #999999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#content .content {
  padding: 10px 20px;
}
#content-left {
  float: left;
  border-right: 1px solid #999999;
  min-height: 600px;
}
.two-thirds {
  width: 653.3268px;
}
#content-header {
  width: 100%;
  border-bottom: 1px solid #999999;
  background-image: url("../images/hatched.gif");
}
#content-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#content-header ul li {
  padding: 10px 20px;
  float: left;
  display: inline-block;
}
#content-header ul li a,
#content-header ul li a:hover {
  color: #333333;
  text-decoration: none;
}
#content-header ul li.on {
  background: url('../images/pointer-bottom.png') #ffffff center bottom no-repeat;
  box-shadow: 0 0 5px #222;
}
#content-header ul li:hover {
  background: #eeeeee;
}
#content-header ul li.on:hover {
  background: url('../images/pointer-bottom.png') #ffffff center bottom no-repeat;
}
#content-right {
  float: left;
  padding: 20px;
}
#content-right .btn {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  float: left;
  background-color: #0196C9;
  background-image: -moz-linear-gradient(center top, #0099cd, #0391c2);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 10pt;
  line-height: normal;
  margin-bottom: 3px;
  margin-right: 3px;
  padding: 3px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #444444;
  vertical-align: middle;
  margin-bottom: 20px;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: none;
}
#content-right .btn a,
#content-right .btn a:hover {
  color: white;
  text-decoration: none;
}
#content-right .btn:hover {
  background: #333333;
}
#content-right h4 {
  color: #333333;
}
#photo-gallery {
  width: 960px;
  padding: 20px 0 20px 20px;
  background: #eeeeee;
  position: relative;
  margin-bottom: 20px;
}
#photo-gallery ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#photo-gallery ul li {
  margin-right: 20px;
  float: left;
  padding: 0;
}
#photo-gallery #previous,
#photo-gallery #next {
  padding: 10px;
  position: absolute;
  top: 160px;
  background: white;
  line-height: 1;
  -webkit-box-shadow: 0 0 6px #666666;
  -moz-box-shadow: 0 0 6px #666666;
  box-shadow: 0 0 6px #666666;
}
#photo-gallery #previous img,
#photo-gallery #next img {
  dispaly: inline;
}
#photo-gallery #previous {
  left: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#photo-gallery #next {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  right: 0px;
}
#confirmation {
  width: 618px;
  text-align: center;
}
#confirmation img {
  margin-top: 3px;
}
#confirmationTable {
  border: 1px solid #999999;
  width: 360px;
  margin-left: 130px;
  margin-bottom: 20px;
}
#confirmationTable th,
#confirmationTable td {
  padding: 5px 20px;
  text-align: center;
}
#confirmationTable td {
  font-size: 1.6em;
  padding: 15px 20px;
}
#confirmationTable th {
  background: #eeeeee;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#modal-confirm {
  text-align: center;
}
#modal-confirm table {
  border: 1px solid #999999;
  width: 100px;
  margin-left: 85px;
  margin-bottom: 20px;
}
#modal-confirm table th,
#modal-confirm table td {
  padding: 5px 20px;
  text-align: center;
}
#modal-confirm table td {
  font-size: 1.2em;
  padding: 15px 20px;
}
#modal-confirm table th {
  background: #eeeeee;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#modal-howitworks {
  text-align: center;
}
#modal-howitworks p {
  margin-bottom: 0px;
}
#modal-howitworks .step {
  font-size: .8em;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  background: black;
  color: white !important;
  padding: 5px 10px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: #555555;
  background: #0099cd;
  text-shadow: 0 1px 0 #222;
}
#modal-howitworks .third {
  width: 160px;
  margin-right: 40px;
  float: left;
  text-align: center;
}
#modal-login .half {
  float: left;
  width: 250px;
  margin-right: 40px;
}
#modal-login img {
  margin-left: auto;
  margin-right: auto;
}
.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.top-rounded {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.gray {
  background-color: #f5f5f5;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #cccccc;
  padding: 10px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
select {
  border: 1px solid #cccccc;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width: 230px;
  font-size: 10pt;
  line-height: 1.3;
}
select.short {
  width: 125px;
}
.modal-outer {
  width: 600px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-image: url("../images/hatched.gif");
  position: fixed;
  left: 50%;
  margin-left: -300px;
  top: 100px;
  z-index: 1005;
  -webkit-box-shadow: 0 0 6px #666666;
  -moz-box-shadow: 0 0 6px #666666;
  box-shadow: 0 0 6px #666666;
}
.modal-outer-narrow {
  width: 300px;
  margin-left: -150px;
}
.modal-outer-narrow .modal-inner {
  width: 260px !important;
}
.modal-header {
  width: 100%;
  background: #0099cd;
  padding: 5px 0;
  text-align: center;
  margin-bottom: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header h2 {
  color: white;
  font-size: 24pt;
  text-shadow: 0 1px 0 #222;
}
.modal-inner {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  background: #f5f5f5;
  width: 560px;
}
.modal-inner h2 {
  text-align: center;
  font-size: 24pt;
}
.modal-inner h3 {
  font-weight: normal;
  font-size: 16pt;
}
.modal-inner .conjunction div {
  background: #f5f5f5;
  text-shadow: 0 1px 0 white;
}
.modal-inner .label {
  text-shadow: 0 1px 0 white;
}
.modal-inner table {
  width: 400px;
  margin-left: 100px;
}
/*.modal-inner td {
  padding-bottom: 10px;
}*/
.modal-inner td select {
  width: auto;
  float: left;
  margin-right: 10px;
}
.modal-inner td.label {
  width: 130px;
  vertical-align: center;
  text-align: right;
  padding-right: 10px;
}
.modal-inner td.input-td {
  width: 200px;
}
.modal-inner-with-header {
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-close {
  position: fixed;
  left: 50%;
  top: 130px;
  z-index: 1001;
  margin-left: 300px;
  width: 50px;
  padding: 5px 10px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 0 6px #666666;
  -moz-box-shadow: 0 0 6px #666666;
  box-shadow: 0 0 6px #666666;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-align: right;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
}
.modal-close a,
.modal-close a:hover {
  color: #999999;
  text-decoration: none;
}
.modal-thirds {
  background: url(../images/modal-inner-thirds-background.png) repeat-y;
}
.modal-halves {
  background: url(../images/modal-inner-halves-background.png) repeat-y;
}
.smaller {
  font-size: .8em;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
}
table {
  border-collapse: collapse;
}
.float {
  float: left;
}
.margin-right {
  margin-right: 20px;
}
.margin-bottom {
  margin-bottom: 20px !important;
}
.margin-bottom-small {
  margin-bottom: 10px !important;
}
.reverse {
  background: black;
  color: white !important;
  padding: 5px 10px;
}
.btn-group-center {
  margin: 0 auto;
  text-align: center;
  width: inherit;
  display: inline-block;
}
.no-bottom-margin {
  margin-bottom: 0 !important;
}
.no-right-margin {
  margin-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.opaque {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  opacity: .8;
  z-index: 1000;
  margin-top: -8px;
}
.conjunction {
  background: url('../images/dots.png') repeat-x;
  width: 80%;
  margin-left: 10% !important;
  margin: 0 0 10px 0;
  color: #666;
}
.conjunction div {
  background: white;
  text-align: center;
  width: 40px;
  position: relative;
  left: 50%;
  margin-left: -20px;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 16pt;
}
.bigger {
  font-size: 1.4em;
}
.embossed {
  text-shadow: 0px 1px 0px white;
}
.label {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 3px;
}
.center {
  text-align: center;
}
.full-width {
  width: 100%;
}
#designs {
  border-collapse: collapse;
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 600px;
  position: relative;
  left: 50%;
  top: 100px;
  margin-left: -300px;
}
#designs tr {
  border-bottom: 1px solid #cccccc;
}
#designs tr:last-child {
  border-bottom: none;
}
#designs td {
  padding: 5px;
}
#designs th {
  text-align: left;
}
/*--history_chicago--*/
#historyChicago{
	margin:40px 0 0;
	padding:0 0 116px;
}
#historyTable th{
	border-bottom:2px solid #000;
	color:#000;
	font-weight:bold;
	padding:0 0 17px 2px;
	font-size:16px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#historyTable td{
	padding:14px 0 10px 2px;
	border-bottom:1px solid #7F7F7F;
	color:#343434;
	font-size:14px;
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#historyTable tr.borderless td{
	border-bottom:0px;
}
#historyTable td strong{
	font-weight:bold;
	color:#000;
}
h5{
	color:#343434;
	padding:0 0 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
}

.faq-container{
	height:310px;
	overflow:auto;
}
ul.faq-list{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	list-style: none;
	padding:0px;
	margin:0px;
	font-size:13px;
}
ul.faq-list li{
	background: url('../images/bullet.gif') no-repeat 0 3px;
	padding:0 0 0 18px;
	margin:8px 0 0px;
	list-style:0px;
	list-style-type:none;
}
.gap01, .gap02{
	line-height:0px;
	font-size:0px;
	height:15px;
	display:block;
	clear:both;
}
.gap02{
	height:10px;
}
.label02 {
	font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	padding-right: 10px;
	font-size:13px;
	color:#000;
	font-weight:bold;
}
.label03 {
  color:#000000;
  width:5px;
  float:left;
  margin:10px;
}
.my-profile-left{
	float:left;
	width:495px;
	padding:0 0 7px;
}
.my-profile-right{
	float:right;
	width:400px;
	padding:0;
	font-family:Arial, Helvetica, sans-serif !important;
}
.modal-profile {
  width:330px;
  padding: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 16px;
  background-image: url("../images/hatched.gif");
  -webkit-box-shadow: 0 0 2px #666666;
  -moz-box-shadow: 0 0 6px #666666;
  box-shadow: 0 0 6px #666666;
}
.modal-profile-inner {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px;
  background: #f5f5f5;
  width: 300px;
}
.terms-condition{
	font-size:15px;
	line-height:25px;
	font-family: Arial, Helvetica, sans-serif;
	color:#4E4E4E;
}
.contact-hd{
	color:#393939;
	font-family: Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:25px;
	padding:0 0 20px;
}
div.btn-group-right {
  text-align: right;
  margin-top: 0px;
  padding:0 60px 0 0;
}

.textarea{
	width:288px;
	color:#AFAFAF;
	height:80px;
	border:1px solid #D9D9D9;
	font-size:11px;
	line-height:16px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.select01{
	width:288px;
	color:#AFAFAF;
	border:1px solid #D9D9D9;
}
.btn-group-left {
  width:auto;
  float:left;
  clear:both;
  display: inline-block;
}
.profile_change{
	width:414px;
	height:30px;
	border:1px solid #CCCCCC;
	margin:18px 0 0;
	float:right;
	padding:5px 5px 5px 14px;
}
div.btn-group-container {
  text-align: right;
  margin-top: 0px;
  padding:0;
}
.modal-inner h4, .modal-profile-inner h4{
	color:#000;
	font-weight:bold;
	padding:0;
	font-size:20px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.modal-inner td.label02 {
  width: 130px;
  padding:12px 6px 0 50px;
  text-align:left;
}
.edit-wrap{
	background-color:#9C9C9C;
	padding:0 0 10px 14px;	
	font-family:Arial, Helvetica, sans-serif;
	margin:15px 0 0;
	clear:both;
}
.edit-wrap p{
	color:#fff;
	font-size:13px;
	line-height:16px;
	font-family:Arial, Helvetica, sans-serif;	
}
.edit-wrap h5{
	color:#fff;
	padding:0 0 0;
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.edit-list{
	float:right;
	list-style-type:none;
	font-size:13px;
	width:110px;
}
a.edit-tab, a.delete-tab{
	background-color:#55AA55;
	line-height:29px;
	padding:0 10px;
	display:block;
	color:#fff;
	text-align:center;
	font-weight:bold;
	float:right;
}
a.delete-tab{
	background-color:#CFCFCF;
	color:#000;
}
.spacer{
	line-height:0px;
	font-size:0px;
	clear:both;
	display:block;
}
.hd-edit div{
	float:right;
	margin:0 0 0 65px;
}
.modal-register-width {
  width: 880px;
  margin-left: -450px;
  top: 30px;
}
.registerL{
	width:430px;
	float:left;	
}
.registerR{
	width:430px;
	float:right;	
}
.register-grey{
	background-color:#C3C3C3;
	padding:15px 15px 24px;
	margin:0px;
	width:400px;
}
.register-grey p{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#989898;
}
.modal-header-register {
  background: #F5F5F5;
  padding: 2px 0;
  text-align: center;
  margin-bottom: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border:1px solid #B2B2B2;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

.modal-header-register h2{
  background: #F5F5F5;
  font-size:18px;
  line-height:23px;
  text-align:center;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight:normal;
}
.modal-sub-header {
  background: #000000;
  padding:7px 8px 7px 20px;
  text-align: center;
  margin:0px 0 0;
  color:#fff;
  height:46px;
  font-weight:normal;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-sub-header h2{
  color:#FFFFFF;
  font-size:18px;
  line-height:35px;
  float:left;
}
.modal-inner-register{
  background: #f5f5f5;
}

ul.signup-link{
	line-height:32px;
	list-style-type:none;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	margin:0;
	padding:0px;
}
ul.signup-link li{
	float:left;
	margin:0px;
}
ul.signup-link li a{
	display:block;
	font-weight:bold;
	padding:0 14px;
	color:#000;
	text-decoration:none;
}
ul.signup-link li a.active-reg{
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color:#58AF58;
	color:#fff;
}
.checkbox{float:left; display:block;}
.register_checkbox{
	background: url('../images/divider.jpg') no-repeat 0 100%; 
	text-align:center; 
	padding:0 0 5px; 
	margin:0 auto; 
}
.register_top, .payment_top{
	background: url('../images/divider.jpg') no-repeat 0 100%; 
	text-align:center; 
	padding:0 0 5px; 
	margin:0 auto 15px; 
	clear:both;
}
.payment_top{
	padding:0 0 10px; 
}
.register_top h4{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding:3px 0 0;
}
.bg-white{
	background-color:#FAFAFA;
	 -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding:4px 5px 4px 15px;
  width:389px;
  float:right;
  height:36px;
}
.bg-white h4{
	font-size:18px;
	line-height:35px;
	color:#3C3C3C;
	font-weight:bold;
	float:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
.bg_cyan{
	width:137px;
	background-color:#0099CD;
	font-size:17px;
	line-height:35px;
	text-align:center;
	font-weight:bold;
	height:35px;
	 -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	float:right;
}
div.btn-group-register {
  text-align: right;
  margin-top: 0px;
  padding:15px 15px 0 0;
}
.checkbox_cntr{
	width:343px;
	float:right;
}
.checkbox_cntr, .checkbox_cntr02{
	width:343px;
	float:right;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;	
	line-height:18px;
	text-align:left;
}
.checkbox_cntr02{
	width:210px;
}
.checkbox-gap{
	margin:15px 0 16px;
	padding:0 0 0 20px;
	clear:both;
	display:block;
}
.payment_checkbox{
	width:250px;
	margin:0 auto;
	color:#464646;
	font-style:normal;
}
.button-width{
	text-align:center;
	font-size:18px;
	line-height:35px;
	color:#fff;
	font-style:normal;
	width:240px;
	padding:0;
	display:block;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.btn-group-wrap-top {
  text-align: center;
  margin-top: 10px;
}
h4.hd-getDirection{
	font-size:18px;
	line-height:30px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#171717;
	font-weight:normal;
	width:410px;
	float:right;
}
.wdth01{
	width:440px;
	margin:8px auto 0;
}
.wdth02{
	width:28px;
	float:left;
	text-align:right;
	padding:7px 0 0;
}
.label01 {
  font-family: Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height:20px;
  text-align:right;
  padding:0 15px 0 0;
  width:240px;
}
.modal-inner table.table-register {
  width: 400px;
  margin:0px;
}

.modal-inner table.table-contact {
  width: 520px;
  margin:0px;
}
.modal-inner table.table-contact td select {
  float: none;
  margin-right:0px;
   border: 1px solid #cccccc;
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: white;
  width:292px;
  font-size: 10pt;
  line-height: 1.3;
}
.modal-inner table.table-contact td input {
  width:270px;
  color:#AFAFAF;
  font-size:11px;
}
.modal-inner-register table.table-register td input{
  width:200px;
  color:#AFAFAF;
  font-size:11px;
}
.modal-inner-register table.table-register td select{
  width:222px;
  color:#AFAFAF;
  font-size:11px;
}
.modal-inner-register table.table-register td select.small-select-register{
  width:110px;
  color:#AFAFAF;
  font-size:11px;
}
.modal-inner table.table-contact td input.small-textbox {
  width:170px;
  color:#AFAFAF;
  font-size:11px;
}
.modal-outer-topalign {
  top: 50px;
}
.alert{
	font-size:13px;
	line-height:20px;
	color:#1D1D1D;
	padding:0px;
}
.alert span{
	text-decoration:underline;
}
.alertRight{
	width:256px;
	float:right;
	color:#202020;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:18px;
	margin:12px 0 0;
}
.alertChicago{
	margin:20px 0 0;
	padding:0 0 80px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.alertChicago a{
	text-decoration:underline;
	color:#1D1D1D;
}
.alertChicago a:hover{
	text-decoration:none;
}
.booking_wrap{
	width:800px;
	margin:0 auto;
}
.booking_row{
	margin:20px 0 0;
}
.booking_wrap_indiv{
	position:relative;
	background: url('../images/booking-bg.png') no-repeat 0 0;
	width:368px;
	height:84px;
	text-align:center;
	color:#fff;
	font-weight:bold;
	line-height:66px;
	font-size:21px;
	margin:34px 0 0;
	text-transform:uppercase;
}
.booking_wrap_indiv .close_bttn{
	position:absolute;
	width:37px;
	height:38px;
	right:-10px;
	top:-14px;
}
.floatR{
	float:right;
}

/*----popup starts----*/

div.popup {
	max-width: 290px;
	padding: 15px;
	background-color: white;
	margin:130px 0 0;
	/* The following properties should not be changed */
	position: absolute;	
	background: url('../images/checker-popup.png')repeat 0 0;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 0px 10px #444;
	-webkit-box-shadow: 3px 0px 10px #444;
	box-shadow: 3px 0px 10px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
div.popup-click {
	max-width: 240px;
	padding: 15px;
	background-color: white;
	/* The following properties should not be changed */
	position: absolute;	
	margin:42px 0 0 0;
	left:0px;
	background: url('../images/checker-popup.png')repeat 0 0;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 3px 0px 10px #444;
	-webkit-box-shadow: 3px 0px 10px #444;
	box-shadow: 3px 0px 10px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}
.popup-handle{
	background: url('../images/corner.png') no-repeat 0 0;
	width:103px;
	height:49px;
	position:absolute;
	top:-49px;
	left:26px;
	line-height:0px;
	font-size:0px;
}
.popup-handle02{
	background: url('../images/corner02.png') no-repeat 0 0;
	width:40px;
	height:22px;
	position:absolute;
	top:-22px;
	left:26px;
	line-height:0px;
	font-size:0px;
}

div.popup-box {
	max-width:460px;
	padding: 15px;
	background-color: white;
	/* The following properties should not be changed */
	position: absolute;	
	margin:42px 0 0 0;
	left:0px;
	background: url('../images/checker-popup.png')repeat 0 0;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 1px 0px 10px #444;
	-webkit-box-shadow: 1px 0px 10px #444;
	box-shadow: 1px 0px 10px #444;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
	
}
div.popup-click a.btn, div.popup-box a.btn{
	text-decoration:none;
}
ul.popup-list{
	font-size:13px;
	line-height:13px;
	padding:0px;
	margin:0px;
	list-style-type:none;
	margin:5px 0 0px;
	padding:0 0 20px;
	display:block;
}
ul.popup-list .checkbox{
	margin:0 5px 0 0;
}
ul.popup-list li{
	margin:22px 0 0;
}
.popup-inside{
	background-color:#F5F5F5;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:13px;
	line-height:20px;
	padding:10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#popup_overlay {
  background-color: whitesmoke;
  /* The following properties should not be changed */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
}

span.popup_link, a.popup_link {
  cursor: pointer;
}

.popup_draghandle {
  cursor: move;
}
.update_but{
	margin:32px 0 0 0;
}